<ion-header>
  <ion-toolbar color="secondary">
    <ion-item lines="none">
      <p>
        <ion-label>
          Location </ion-label>
        <ion-icon name="location"></ion-icon>
        <ion-text>Sydney</ion-text>
  
        <ion-button (click)="gotoButton()" fill="clear" color="light">
          <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </p>

      <ion-button (click)="gotoButton()" slot="end">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button (click)="gotoButton()" slot="end">
        <ion-icon slot="icon-only" name="notifications-outline">
        </ion-icon>
      </ion-button>

    </ion-item>

    <ion-row>
      <ion-col size="12">
        <ion-searchbar 
        #searchInput
        debounce="900"
        color="light"
        inputmode="search"
        class="searchbar"
        mode="ios" 
        placeholder="Search your favourite macaroon"
        routerLink="/tabs/search" ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
