<!--
  <ion-tab tab="home">
    <div id="home-page" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Listen now</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">
          Listen now content
          <ion-button (click)="selectRadio()">Go to Radio</ion-button>
        </div>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="explore">
    <div id="location" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <ion-title> Explore </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content"> Explore </div>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="chats">
    <div id="chatbox" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <ion-title> Chat</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">  Chat box</div>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="account">
    <div id="search-page" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Profile</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Profile</div>
      </ion-content>
    </div>
  </ion-tab>-->

  <!-- Bottom Nav bar-->
  <ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="explore">
      <ion-icon name="location"></ion-icon>
      Explore
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <ion-icon name="chatbox"></ion-icon>
      Chat
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>