div.box {
  height: 2vh;
  width: 2vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  div.bullet-dot {
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
  }
}

.veg {
  border: 1px solid rgb(201, 201, 201);
  .bullet-dot {
    background-color: rgb(35, 255, 35);
  }
}
.non-veg {
  border: 1px solid red;
  .bullet-dot {
    background-color: red;
  }
}
